
# Git
.git/
.github/
.gitignore


# Data files — (this folder used for test-until we implement NIFI)
data/


# Secrets
.env
**/keyfile.json
**/service-account.json


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/


# Other services (not needed)
# by ignoring the airflow folder we garantee a fast build
# and we rely on docker-compose.yml volumes to load the live code instantly at runtime
airflow/
# and the requirements.txt file is all what we need in our container
!airflow/requirements.txt
nifi/
!nifi/scripts/
dbt/
!dbt/packages.yml 
!dbt/profiles.yml
!dbt/dbt_project.yml
analytics/
app/
infrastructure/
tests/


# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db