# .env.example

# SCRAPER CONFIG
# -----------------------------------------------------------------
SCRAPER_OUTPUT_DIR=/data/raw
SCRAPER_LOG_LEVEL=INFO

# Currency conversion API
# Get your free key at: https://exchangerate-api.com
EXCHANGE_RATE_API_KEY=your-api-key-here
EXCHANGE_RATE_API_URL=https://v6.exchangerate-api.com/v6

# Best buy auth token 
BESTBUY_API_KEY=your_BESTBY_API_key


# POSTGRESQL
# Airflow uses these to create and connect to its metadata database
# -----------------------------------------------------------------
POSTGRES_USER=airflow
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=airflow


# AIRFLOW SECURITY KEYS
# Fernet Key — encrypts secrets stored in the Airflow metadata DB
# Generate with:
#   python -c "import base64; import os; print(base64.urlsafe_b64encode(os.urandom(32)).decode())"
# -----------------------------------------------------------------
AIRFLOW_FERNET_KEY=CHANGE_ME

# Secret Key — secures Airflow webserver session cookies
# Generate with:
#   python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW_SECRET_KEY=CHANGE_ME


# AIRFLOW ADMIN USER
# Created automatically on first run by airflow-init
# Used to log in at http://localhost:8081
# -----------------------------------------------------------------
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME


# APACHE NIFI
# Used to log in at http://localhost:8090/nifi
# Password should be 12 chars minimum, or NiFi will reject it and refuse to start
# -----------------------------------------------------------------
NIFI_USERNAME=admin
NIFI_PASSWORD=CHANGE_ME_MIN_12_CHARS

# GOOGLE CLOUD BIGTABLE
# These values are fake — the emulator does not validate them.
# They just need to be consistent across all services.
# Use exactly the values shown below — no GCP account needed.
# in PRODUCTION (GCP) we will replace fields with the right informations
BIGTABLE_PROJECT_ID=price-intelligence-local
BIGTABLE_INSTANCE_ID=price-intelligence-instance

# this line will be removed in production (GCP)
BIGTABLE_EMULATOR_HOST=bigtable-emulator:8086

# GOOGLE BIGQUERY + DBT
# -----------------------------------------------------------------
BIGQUERY_PROJECT_ID=CHANGE_ME_GCP_PROJECT_ID
BIGQUERY_DATASET=CHANGE_ME_DATASET_NAME

# APPLICATION CONFIG (Frontend, Backend, DB)
# -----------------------------------------------------------------

# APP DATABASE (PostgreSQL)
APP_POSTGRES_USER=pulseprice_user
APP_POSTGRES_PASSWORD=CHANGE_ME
APP_POSTGRES_DB=pulseprice_db

# BACKEND
SECRET_KEY=CHANGE_ME_TO_A_SECURE_RANDOM_STRING