# BestBuy API Credentials
# Get an API key from https://developer.bestbuy.com/
BESTBUY_API_KEY=your_bestbuy_api_key_here

# eBay Browse API Credentials
# Get credentials from https://developer.ebay.com/
EBAY_APP_ID=your_ebay_app_id_here
EBAY_CERT_ID=your_ebay_cert_id_here
EBAY_AUTH_TOKEN=your_ebay_oauth_token_here


